// 404
main.bodyContent#error404 {
	section {
		padding: 60px;
		background-color: #eee;
		max-width: 500px;
		margin: 0 auto;
		@media (max-width: $sm) {
			padding: 20px;
		}

		&.errorDisplay {
			h1 {
				font-size: 82px;
				i {margin-left: 20px;}
			}
			p {
				font-size: 20px;
				color: $grisMedio;
				text-align: center;
				margin-bottom: 40px;
			}
			ul {
				text-align: center;
				display: inline-block;
				margin: 0 auto;
				list-style: none;
				li {
					text-align: left;
					margin-bottom: 10px;
					a {
						color: $naranja;
						text-decoration: underline;
					}
				}
			}
		}
		&.info{
			.telf {
				padding: 20px 50px;
				margin-bottom: 30px;
				text-align: center;
				h2 {
					font-weight: 400;
				}
				a {
					color: $azul;
					font-size: 22px;
					font-weight: 700;
					letter-spacing: 2px;
					text-decoration: underline;
					margin-bottom: 10px;
					display: inline-block;
					position: relative;
					.glyphicon-earphone {
						font-size: 14px;
						position: absolute;
						left: -41px;
						top: 6px;
						color: $naranja;
						border: 1px solid $naranja;
						padding: 3px;
						border-radius: 25px;
						display: inline-block;
					}
				}
				p {
					font-size: 12px;
					color: $grisMedio;
					margin-bottom: 0;
				}
			}
		}

	}

}