// OFFICE SELECTOR
main.bodyContent.ciudades {
	padding: 0 60px;
	@media (max-width: $sm) {
		padding: 0 20px;
	}

	.citySelector {
		.col {
			padding: 0 10px;
			margin: 10px 0px;

			a {
				overflow: hidden;
				height: 150px;
				border-radius: 5px;
				display: table;
				width: 100%;

				&:hover, &:focus {
					text-decoration: none;
				}

				.city {
					height: 100%;
					width: 100%;
					overflow: hidden;
					background-position: center;
					background-size: cover;
					position: relative;
					z-index: 1;
					text-decoration: none;
					transition: 0.3s;
					display: table-cell;
					vertical-align: middle;

					&:before {
						content: "";
						display: block;
						background: rgba(0, 0, 0, 0.3);
						bottom: 0;
						height: 100%;
						left: 0;
						position: absolute;
						right: 0;
						top: 0;
						width: 100%;
						z-index: -1;
					}

					&:hover {
						transform: scale(1.1);
						:before {
							background: rgba(0, 0, 0, 0.2);
						}
					}

					p {
						font-family: "OpenSans";
						font-size: 22px;
						font-weight: 700;
						color: white;
						text-align: center;
						text-decoration: none;
						margin: 0;
						padding: 10px;
						@media (max-width: $sm) {
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}
