// CONFIRMACION
.background_cont.confirmacion {
	width: 100%;
	position: relative;
	@media (max-width: $md) {
		margin-top: 76px;
	}
	@media (max-width: $xs) {
		margin-top: 141px;
	}

	.h1_cont {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		h1 {
			font-family: "Cocon";
			color: $azul;
			background-color: rgba(255,255,255,0.8);
			font-size: 22px;
			padding: 20px 15px;
			margin: 0;
			display: inline-block;
			@media (max-width: $xs) {
				font-size: 20px;
			}
		}
	}
	.background {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 250px;
		@media (max-width: $xs) {
			height: 150px;
		}
	}
}

main.bodyContent#confirmacion {
	padding: 0 60px;
	margin-top: 30px;

	@media (max-width: $sm) {
		padding: 0 0px;
	}

	h2 {
		text-align: center;
		font-size: 26px;
		margin: 0 0 20px 0;
		padding: 0 20px;
		font-family: "OpenSans";
		color: $grisOscuro;
		@media (max-width: $md) {
			font-size: 20px;
		}
	}
	ul {
		display: inline-block;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
		text-align: center;

		li {
			list-style: none;
			p {
				display: inline-block;
				color: $grisMedio;
				font-size: 16px;
				@media (max-width: $xs) {
					font-size: 14px;
				}
				&:before {
					content: "· ";
				}
			}
		}
	}
	.datos {
		.col {
			padding-right: 15px;
			padding-left: 15px;
			@media (max-width: $xs) {
				padding-left: 8px;
				padding-right: 8px;
			}
			&.enum p {
				color: $grisOscuro;
				font-weight: 700;
				text-align: right;
			}
			&.result p {
				color: $grisMedio;
				text-align: left;
			}
			p {
				font-size: 20px;
				margin-bottom: 10px;
				@media (max-width: $xs) {
					font-size: 14px;
				}
			}
		}
		.botones {
			margin-top: 30px;
			.cont {
				@media (max-width: $xs) {
					width: 100%;
					margin-bottom: 10px;
					a {width: 100%}
				}
			}
			.btn_primary {
				text-align: left;
				@media (max-width: $xs) {
					text-align: center;
				}
				a {
					@include riaButton;
					text-transform: none;
				}
			}
			.btn_secondary {
				text-align: right;
				@media (max-width: $xs) {
					text-align: center;
				}
				a {
					@include riaButtonInverted;
					padding-right: 45px;
					text-transform: none;
				}
			}
			img {
				width: 23px;
				position: absolute;
				right: 28px;
				top: 13px;
			}
		}
	}
}