//CONTACTO
main.bodyContent#contactoReserva {
	padding: 0 60px;
	@media (max-width: $sm) {
		padding: 0 10px;
	}

	.tradeInfo_block {
		background-size: cover;
		background-position: center;
		display: block;

		.background_cont {
			position: relative;
			display: block;
			height: 100%;
			width: 100%;
			padding: 50px 7px;
			@media (max-width: $md) {
				margin-bottom: 50px;
			}
			@media (max-width: $xs) {
				padding: 15px 0;
			}
			.background {
				background: rgba(255, 255, 255, 0.9);
				padding: 30px;
				font-size: 20px;
				border-radius: 10px;
				@media (max-width: $xs) {
					font-size: 16px;
					padding: 10px;
				}
				.fila {
					font-size: 0;
					width: 100%;
					margin-bottom: 15px;
					.col {
						display: inline-block;
						width: 50%;
						font-size: 20px;
						@media (max-width: $lg) {
							font-size: 18px;
						}
						@media (max-width: $xs) {
							font-size: 15px;
						}
					}
				}
				.enum {
					color: $grisOscuro;
					text-align: left;
				}
				.result {
					color: $naranja;
					font-weight: 700;
					text-align: right;
				}
				.last {

					.enum {
						vertical-align: top;
					}
					.result {
						font-weight: 400;
						font-size: 16px;
						margin-top: 5px;
						@media (max-width: $xs) {
							font-size: 13px;
							line-height: 15px;
						}
					}
				}
			}
		}
	}
	.infoForm_block {
		padding: 20px;
		.row.inputs {
			.col {
				position: relative;
				margin-bottom: 40px;
				@media (max-width: $xs) {
					padding-right: 0;
					padding-left: 0;
				}
				label {
					position: absolute;
					top: 0;
					left: 15px;
					font-size: 15px;
					line-height: 14px;
					color: $grisMedio;
					transition: 0.1s;
					font-weight: 400;

					&.selected {
						top: -15px;
						font-size: 12px;
						color: #c5c5c5;
					}
					&.refNumber {
						.extension {
							display: inline;
							font-size: 9px;
						}
						&.selected {
							font-size: 12px;
							top: -15px;
							.extension {
								display: none;
							}
						}
						@media (max-width: $lg) {
							top: 0;
							&.selected {
								top: -20px;
								.extension {
									display: none;
								}
							}
						}
					}
				}
				input {
					width: 100%;
					font-size: 17px;
					color: $grisMedio;
					border: solid $grisMedio;
					border-width: 0 0 1px 0;
					&.focus {
						transition: 0.2s;
						border-color: $naranja;
						outline: none;
					}
				}
			}
		}
		.checkers {
			.col {
				@media (max-width: $xs) {
					padding-right: 0;
					padding-left: 0;
				}
				input {
					border: 2px solid $naranja;
					margin-right: 10px;
					padding: 10px;
				}
				label {
					font-weight: 400;
					color: $grisMedio;
				}
				a {
					text-decoration: underline;
					color: $azul;
				}
			}
		}
		.submit {
			margin: 20px auto;
			text-align: center;

			input {
				@include riaButton;
			}
		}
	}
}








