//HOME
section.faqs {
	padding: 30px 130px;
	position: relative;
	background-size: cover;
	background-position: center;
	width: 100%;
	@media (max-width: $md) {
		padding: 30px 70px;
	}
	@media (max-width: $sm) {
		padding: 30px 40px;
	}
	@media (max-width: $xs) {
		padding: 30px 10px;
	}
	&:before {
		content: "";
		display: block;
		background: rgba(0, 0, 0, 0.3);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
	h2 {
		position: relative;
		font-family: "Cocon";
		font-weight: 700;
		color: white;
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;
	}
}