// HEADER
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 999;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.28)!important;

	.wrapper {
		height: 76px;
		&.scrolled{
			@media (max-width: $xs) {
				.lang_select {
					display: none;
				}
			}
		}
		&:before {
			background-color: $naranja;
			opacity: 0.7;
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -100;
		}
		&.scrolled:before{
			opacity: 1;
			transition: 0.5s;
		}
		@media (max-width: $md) {
			&:before {
				opacity: 1;
			}
		}
		.img_container {
			float: left;
			margin: 20px 15px 0 24px;
			img {
				width: 70px;
			}
		}

		.hamburguesa {
			margin: 26px 10px 10px 10px;
			float: right;
			display: none;
			cursor: pointer;

			@media (max-width: $md) {
				display: inherit;
			}

			.glyphicon-menu-hamburger {
				font-size: 12px;
				background: white;
				color: #FF6E00;
				padding: 12px;
				border-radius: 5px;
			}
		}

		nav ul.menu {
			float: right;
			margin-bottom: 0;
			margin-right: 20px;

			li {
				display: inline-block;
				a {
					font-family: "OpenSans";
					padding: 37px 7px 18px 7px;
					margin: 0;
					color: white;
					font-size: 12px;
					font-style: normal;
					font-weight: 700;
					line-height: 20px;
					text-transform: uppercase;
					text-decoration: none;
					display: inline-block;
					&:hover {
						background-color: white;
						color: #FF6E00;
						border-bottom: 1px solid white;
						transition: all 0s ease 0s;
					}
					&.active:not(:hover) {
						text-decoration: underline;
					}
				}
			}
			@media (max-width: $md) {
				position: absolute;
				top: 51px;
				right: -10px;
				z-index: 10;
				background-color: white;

				&.MenuClose {
					display: none;
				}
				&.MenuOpen {
					padding: 10px;
					background: white;
					border-radius: 4px;
					border: 2px solid $naranja;
					width: 300px;
					@media (max-width: $sm) {
						width: 100%;
						margin: 12px 10px 10px 10px;
					}
					li {
						display: block;
						a {
							background-color: $naranja;
							color: white;
							padding: 7px 8px;
							margin: 1px;
							height: auto;
							text-align: center;
							color: white;
							font-size: 13px;
							text-transform: uppercase;
							font-weight: 700;
							line-height: 20px;
							width: 100%;
							border-radius: 4px;
							&:hover {
								border: none;
								color: $naranja;
								background-color: white;
							}
						}
					}
				}
			}
		}

		.lang_select {
			float: right;
			margin-right: 15px;
			.block_input {
				margin: 4px 5px 0 0;
				display: inline-block;
				label {
					color: white;
					font-family: "OpenSans";
					font-weight: 400;
					font-size: 11px;
				}
				.bootstrap-select{
					li {width: 100%;}

					button.btn {
						border: 1px solid white;
						text-shadow: none;
						background: white;
						@media (max-width: $xs) {
							border: 1px solid $naranja;
						}
						span {
							font-family: "OpenSans";
							font-weight: 400;
							color: $naranja;
							font-size: 12px;
						}
						.filter-option {
							margin-top: 2px;
							.glyphicon {
								width: 15px;
								height: 15px;
								background-size: cover;
								background-repeat: no-repeat;
								background-position: center;
								margin-right: 5px;
								border-radius: 50%;
								top: 2px;
							}
						}
					}
					.dropdown-menu {
						border: 1px solid white;
						.inner span {
							color: black;
						}
						li {
							padding: 7px 5px;
							background-color: white;
							border-bottom: 1px solid #c3c3c3;
							&:hover, &.selected {
								background-color: #d5d5d5;
							}
							a {
								width: 100%;
								padding: 0;
								&:hover, &:focus {
									border: none;
									background: none;
								}
								span.glyphicon {
									width: 15px;
									height: 15px;
									top: 3px;
									border-radius: 50%;
									padding-right: 0;
									background-size: cover;
									background-position: center;
								}
								span.text {
									color: $naranja;
									font-size: 12px;
									font-weight: normal;
								}
							}
						}
					}
				}
				&.country {
					max-width: 120px;
				}
				&.lang {
					max-width: 120px;
					.filter-option {line-height: 19px;}
				}
			}

			@media (max-width: $xs) {
				width: 100%;
				display: inline-block;
				margin: 0;
				padding-left: 1%;
				.block_input {
					width: 49%;
					margin: 0;
					padding: 5px 5px 5px 5px;
					&.lang, &.country {
						max-width: none;
					}
				}
			}
		}
	}
}

// FOOTER
footer.footer {
	margin-top: 50px;

	.skyline {
		overflow: hidden;
		img {
			display: block;
			height: 120px;
		}
	}

	.wrapper {
		background-color: $naranja;
		min-height: 100px;
		padding: 30px 50px 10px 50px;
		font-family: "OpenSans";
		font-size: 13px;
		line-height: 20px;

		.col {
			@media (max-width: $xs) {
				width: 100%;
				float: none;
				text-align: center;
			}
			ul {
				margin-bottom: 0;
			}
			li {
				list-style: none;
			}
			a, p {
				color: white;
				@media (max-width: $xs) {
					margin: 0 auto;
				}
			}
			a {
				text-decoration: underline;
			}
			p {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 0;
				@media (max-width: $xs) {
					margin-top: 5px;
				}
			}
			img {
				width: 89px;
				height: auto;
				margin: 0 auto;
				display: block;
				@media (max-width: $xs) {
					width: 100px;
					margin: 20px auto;
				}
			}
		}
	}
	.decoration {
		background-color: $naranjaClaro;
		height: 35px;
		text-align: center;
		padding-top: 8px;
		font-family: "OpenSans";
		font-weight: 700;
		color: white;
		font-size: 14px;
	}
}