// SUB HEADER
.subHeader {
	height: 200px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	@media (max-width: $sm) {
		display: none;
	}
	img {
		width: 100%;
	}
}

main.bodyContent {
	@media (max-width: $md) {
		margin-top: 76px;
	}
	@media (max-width: $xs) {
		margin-top: 141px;
	}
	h1 {
		font-family: "Cocon";
		font-size: 26px;
		color: $azul;
		margin: 40px 10px 20px 10px;
		text-align: center;
	}
	h2 {
		font-family: "Cocon";
		font-weight: 700;
		color: $azul;
		font-size: 24px;
		text-align: center;
		margin: 25px 0px 15px 0px;
	}
	h3 {
		font-family: "OpenSans";
		font-size: 18px;
		color: $grisOscuro;
		margin: 20px 10px 40px 10px;
		text-align: center;
	}

	//PREVIOUS PAGE
	.previousPage {
		width: 100%;
		text-align: center;
		margin-top: 20px;
		a.cont {
			display: inline-block;
			position: relative;
			width: 100%;
			img {
				width: 35px;
				position: absolute;
				top: 15px;
				left: 8px;
			}
		}
		h2 {
			font-size: 24px;
			margin-left: 64px;
			margin-top: 12px;
			margin-bottom: 10px;
			font-weight: 500;
			@media (max-width: 767px) {
					font-size: 18px;
			}
		}
	}

&#contactoReserva {
		.previousPage a.cont img {
			margin-left: 10px;
		}
	}
}
