//OFFICE SELECTOR
main.bodyContent.oficinas {
	padding: 0 60px 0 60px;

	@media (max-width: $sm) {
		padding: 0 20px;
	}

	form.adressSearcher {
		border: 1px solid $naranja;
		border-radius: 5px;
		padding: 8px;
		margin: 40px 10px;
		position: relative;

		a.find {
			color: $naranja;
			cursor: pointer;
			&:hover {
				color: $azul;
			}
			span.glyphicon.glyphicon-search {
				font-size: 22px;
				position: absolute;
				top: 11px;
				left: 10px;
			}
		}

		input {
			border: none;
			font-size: 17px;
			display: inline-block;
			width: 100%;
			padding-left: 36px;
		}
	}

	.mapZone {
		.mapa {
			overflow: hidden;
			height: 450px;
			img {
				height: 100%;
				width: auto;
			}
		}
		.locations {
			@media (max-width: $sm) {
				margin-top: 20px;
			}
			ul.filterList {
				list-style: none;
				li {
					display: inline-block;
					a {
						color: $naranja;
						display: inline-block;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						text-align: center;
						white-space: nowrap;
						vertical-align: middle;
						cursor: pointer;
						border: 1px solid transparent;
						border-radius: 4px;
						transition: all 0.1s;
						&.active {
							color: white;
							background-color: $naranja;
						}
					}
				}
			}

			.cardList {
				max-height: 406px;
				overflow-y: scroll;
				@media (max-width : $sm) {
					max-height: none;
				}
				.vcardLocation {
					width: 100%;
					padding: 8px 0;
					border-bottom: 1px solid $grisClaro;
					position: relative;
					p {
						color: #777;
						margin-bottom: 0;
					}
					label {
						position: absolute;
						top: 35px;
						left: 3px;
						span {
							color: white;
							background-color: #FF6E00;
							border-radius: 50%;
							padding: 0;
							width: 25px;
							height: 25px;
							display: block;
							line-height: 25px;
							text-align: center;
						}
					}
					.adress {
						display: inline-block;
						padding-left: 40px;
						.name {
							font-size: 14px;
							font-weight: 700;
							line-height: 22px;
						}
						.street {
							font-size: 12px;
							line-height: 18px;
						}
					}
					.services {
						padding-left: 40px;
						ul {
							margin-bottom: 0;
							line-height: 18px;
							li {
								display: inline-block;
								font-size: 12px;
								line-height: 14px;
								margin-right: 10px;
								color: #777;
								.fa {
									margin: 0 5px 0 0;
								}
							}
						}
					}
					.distance {
						padding-left: 40px;
						a {
							color: $naranja;
							display: inline-block;
							font-size: 12px;
						}
						p {
							display: inline-block;
							font-size: 12px;
							margin-left: 10px;
						}
					}
				}
			}
		}

		.acceptOffice {
			text-align: center;
			margin-top: 40px;
			a {
				@include riaButton;
			}
		}
	}
}
