//HOME
section.reservaDivisa {
	padding: 30px 130px;
	position: relative;
	background-size: cover;
	background-position: center;
	width: 100%;
	@media (max-width: $md) {
		padding: 30px 70px;
	}
	@media (max-width: $sm) {
		padding: 30px 40px;
	}
	@media (max-width: $xs) {
		padding: 30px 10px;
	}
	&:before {
		content: "";
		display: block;
		background: rgba(0, 0, 0, 0.3);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
	.gradient {
		position: absolute;
		width:100%;
		height: 150px;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);		bottom: 0;
	}
	.middle_cont {
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: 800px;
	}
	form.reserva {
		position: relative;
		margin-top: 59px;
		@media (max-width: $md) {
			margin-top: 0;
		}
		h1 {
			font-family: "Cocon";
			color: white;
			font-size: 19px;
			margin-top: 0;
			margin-bottom: 10px;
			display: block;
			text-align: center;
		}
		fieldset {
			background-color: rgba(255, 110, 0, 0.8);
			border-radius: 10px;
			padding: 20px 60px;
			@media (max-width: $md) {
				padding: 20px 30px;
			}
			@media (max-width: $sm) {
				padding: 20px 15px;
			}
			@media (max-width: $xs) {
				padding: 20px 5px;
				div[class^="col-"] {
					padding: 2px;
				}
			}
			.block_input {
				margin-bottom: 20px;
				span.title {
					font-family: "OpenSans";
					font-weight: 700;
					color: white;
					display: block;
					width: 100%;
					font-size: 14px;
					margin-bottom: 5px;
				}
				input {
					border-radius: 5px;
					width: 100%;
					background-color: transparent;
					border: 1px solid white;
				}
				.bootstrap-select{
					.glyphicon {
						width: 20px;
						height: 15px;
						background-size: contain;
						background-repeat: no-repeat;
						margin-right: 5px;
					}
					button.btn {
						border: none;
						text-shadow: none;
						background: rgba(255, 255, 255, 0.8);
						padding: 7px 12px;
						span {
							font-family: "OpenSans";
							font-weight: 700;
							color: $azul;
							.caret {color: $naranja; }
						}
						.filter-option .glyphicon{
							top: 4px;
						}
					}
					.dropdown-menu {
						border: 1px solid white;
						.inner span {
							color: black;
						}
					}
				}
				&.cantidad {
					input {
						height: 34px;
						font-family: "OpenSans";
						font-weight: 700;
						color: $azul;
						text-align: center;
						background: rgba(255, 255, 255, 0.8);
						border: none;
					}
				}
			}
			.rateData {
				font-family: "OpenSans";
				color: white;
				font-size: 14px;
				@media (max-width: $xs) {
					font-size: 12px;
				}
				.green {
					color: #00ff46;
					font-weight: 700;
				}
			}
			.submitButtons {
				width: 100%;
				text-align: center;
				input {
					font-family: "OpenSans";
					border: none;
					border-radius: 5px;
					text-align: center;
					padding: 5px 10px;
					&.send {
						@include riaButton;
						padding-left: 60px;
						padding-right: 60px;
						border-color: $azul;
						background-color: $azul;
						&:hover {
							color: $azul;
							background: white;
						}
					}
					&.promoCode {
						font-size: 12px;
					}
					&.sendPromo {
						@include riaButtonInverted;
						padding: 4px 30px;
					}
				}
				a.promoLink {
					display: block;
					margin: 10px 0;
					font-family: "OpenSans";
					color: white;
					font-size: 12px;
					text-decoration: underline;
				}
				.error {
					font-family: "OpenSans";
					color: #911208;
					background-color: white;
					border-radius: 4px;
					font-size: 14px;
					font-weight: 700;
					margin: 10px 0;
				}
				.correct {
					font-family: "OpenSans";
					color: #00ff46;
					font-size: 12px;
					font-weight: 700;
					margin: 10px 0;
				}
			}
		}
	}
	.contact {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		a {
			font-family: "OpenSans";
			font-weight: 700;
			color: white;
			font-size: 14px;
			margin-bottom: 2px;
			text-decoration: underline;
			@media (max-width: $md) {
				font-size: 12px;
			}
		}
		img {
			margin-left: 5px;
		}
		.elem {
			@media (max-width: $md) {
				margin-bottom: 0px;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.office {
			@media (max-width: $md) {
				text-align: center;
			}
			img {
				width: 25px;
				top: -5px;
				position: relative;
			}
		}
		.email {
			text-align: right;
			@media (max-width: $md) {
				text-align: center;
				margin-bottom: 5px;
			}
			img{
				width: 23px;
				top: -1px;
				position: relative;
			}
		}
		.phone {
			text-align: right;
			@media (max-width: $md) {
				text-align: center;
			}
			img{
				width: 20px;
				top: -3px;
				position: relative;
			}
		}
	}
}