//HOME
section.reservaSteps {
	padding: 30px 130px;
	@media (max-width: $md) {
		padding: 30px 70px;
	}
	@media (max-width: $sm) {
		padding: 30px 40px;
	}
	@media (max-width: $xs) {
		padding: 30px 30px;
	}
	.img_cont {
		margin-top: 20px;
		@media (max-width: $xs) {
			width: 100%;
			float: none;
			display: block;
			margin-top: 40px;
		}
		img {
			width: 100%;
			max-width: 100px;
			height: auto;
			margin: 0 auto;
			display: block;
		}
		p {
			font-family: "OpenSans";
			font-weight: 700;
			color: $naranja;
			font-size: 20px;
			text-align: center;
			padding: 0 10px;
			margin-top: 8px;
		}
	}
}