// SERVICIOS

main.bodyContent#servicios {
	section {
		padding: 60px;

		@media (max-width: $sm) {
			padding: 20px;
		}
	}

	h1 {
		margin: 60px 0;
		@media (max-width: $sm) {
			padding: 60px 0 30px 0;
			margin: 0;
		}
	}

	.orangeBox {
		background-color: $naranja;
		margin-bottom: 35px;
		h3 {
			color: white;
			font-family: "OpenSans";
			font-size: 24px;
			margin: 0 0 20px 0;
			text-align: left;
		}
		p {
			color: white;
		}
	}

	.carrouselServicios {
		position: relative;

		.glyphicon {
			position: absolute;
			color: $naranja;
			font-size: 38px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 100;
			&:hover {text-decoration: none;}
			@media (max-width: $md) {
				display: none;
			}
			&.glyphicon-chevron-left {
				left: 55px;
				@media (max-width: $sm) {
					left: 10px;
				}
				@media (max-width: $xs) {
					left: 5px;
				}
			}
			&.glyphicon-chevron-right {
				right: 55px;
				@media (max-width: $sm) {
					right: 10px;
				}
				@media (max-width: $xs) {
					right: 5px;
				}
			}
		}
		.row {
			padding: 0 60px;
			@media (max-width: $md) {
				padding: 0;
			}
		}
		.serviceBlock {
			margin-bottom: 50px;
			padding-right: 25px;
			padding-left: 25px;
			@media (max-width: $md) {
				margin-bottom: 100px;
				padding: 0 15px;
			}
			img {
				margin: 0 auto 24px auto;
				display: block;
			}
			p {
				color: $grisMedio;
				&.name {
					color: $grisOscuro;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 16px;
					text-align: center;
				}
				&.desc {
					text-align: center;
					font-size: 14px;
				}
			}
		}
	}

}