//CONTACTO
#servicioEmpresas main.bodyContent {
	padding: 0 60px;
	@media (max-width: $sm) {
		margin-top: 120px;
		padding: 0 10px;
	}
	@media (max-width: $xs) {
		margin-top: 180px;
	}

	h1 {
		@media (min-width: $md){
			margin-bottom: 40px;
		}
	}
	.block {
		max-width: 900px;
		margin: 0 auto;

	}
	.info{
		.telf {
			padding: 20px 50px;
			margin-bottom: 30px;
			text-align: center;
			a {
				color: $azul;
				font-size: 22px;
				font-weight: 700;
				letter-spacing: 2px;
				text-decoration: underline;
				margin-bottom: 10px;
				display: inline-block;
				position: relative;
				.glyphicon-earphone {
					font-size: 14px;
					position: absolute;
					left: -41px;
					top: 6px;
					color: $naranja;
					border: 1px solid $naranja;
					padding: 3px;
					border-radius: 25px;
					display: inline-block;
				}
			}
			p {
				font-size: 12px;
				color: $grisMedio;
				margin-bottom: 0;
			}
		}
		.email {
			text-align: center;
			border-left: 1px solid $naranja;
			padding: 20px 75px;
			margin: 0 -25px;
			margin-bottom: 40px;
			@media (max-width: $md){
				background-color: $grisClaro;
				border: none;
			}
			p {
				color: $naranja;
				font-size: 20px;
			}
			li {
				color: $azul;
				font-size: 16px;
				list-style-type: none;
				&:before {
					content: "•";
					padding-right: 8px;
					color: $azul;
				}
			}
		}
	}
	.infoForm {
		padding: 20px;
		.title {
			text-align: center;
			h2 {
				font-family: "OpenSans";
				font-size: 22px;
				color: $naranja;
				display: inline-block;
				margin-bottom: 40px;
				position: relative;
				.glyphicon-envelope {
					font-size: 18px;
					color: $naranja;
					border-radius: 25px;
					display: inline-block;
					position: absolute;
					left: -25px;
					top: 3px;
				}
			}
		}

		.row.inputs {
			.col {
				position: relative;
				margin-bottom: 40px;
				@media (max-width: $xs) {
					padding-right: 0;
					padding-left: 0;
				}
				label {
					position: absolute;
					top: 0;
					left: 15px;
					font-size: 15px;
					line-height: 14px;
					color: $grisMedio;
					transition: 0.1s;
					font-weight: 400;

					&.selected {
						top: -15px;
						font-size: 12px;
						color: #c5c5c5;
					}
					&.refNumber {
						.extension {
							display: inline;
							font-size: 9px;
						}
						&.selected {
							font-size: 12px;
							top: -15px;
							.extension {
								display: none;
							}
						}
						@media (max-width: $lg) {
							top: 0;
							&.selected {
								top: -20px;
								.extension {
									display: none;
								}
							}
						}
					}
				}
				input, textarea {
					width: 100%;
					font-size: 17px;
					color: $grisMedio;
					border: solid $grisMedio;
					border-width: 0 0 1px 0;
					&.focus {
						transition: 0.2s;
						border-color: $naranja;
						outline: none;
					}
				}
				#motivo {
					width: 100%;
					font-size: 17px;
					color: $grisMedio;
					border: solid $grisMedio;
					border-width: 0 0 1px 0;
					appearance: none;
					background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
					background-repeat: no-repeat;
					background-position: right;
					&::-ms-expand {
						display: none;
					}
					&.focus {
						transition: 0.2s;
						border-color: $naranja;
						outline: none;
					}
				}
			}
		}
		.checkers {
			.col {
				@media (max-width: $xs) {
					padding-right: 0;
					padding-left: 0;
				}
				input {
					border: 2px solid $naranja;
					margin-right: 10px;
					padding: 10px;
				}
				label {
					font-weight: 400;
					color: $grisMedio;
				}
				a {
					text-decoration: underline;
					color: $azul;
				}
			}
		}
		.submit {
			margin: 50px auto 40px auto;
			text-align: center;

			input {
				@include riaButton;
			}
		}
	}
}








