// **** BREAKPOINTS **** */
$xs : 575px;
$sm : 767px;
$md : 991px;
$lg : 1199px;

//* **** COLORS **** */
//Colores oficiales RIA
//Principales
$naranja: #FF6E00;
$azul: #0039A6;

//Secundarios
$azulOscuro: #071B42;
$azulClaro: #4F75BC;
$naranjaOscuro: #CB5800;
$grisOscuro: #454545;
$grisMedio: #6a6a6a;

//Inventados
$grisClaro: #ededed;
$colorTableText: #777;
$colorTableBG: #ddd;
$naranjaClaro: #ff8529;

// Validation Forms
$error: #c64848;
$ok: #0a881c;

// FONT-FACE
@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cocon';
	src: url("../fonts/CoconBold.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*##### GENERIC STYLES #####*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.clr { clear: both; }
.flt { float: left; }
.frt { float: right;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.offscreen, .hide { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
.hidden {display: none;}

b, strong, .bold { font-weight: 700; }
em, i { font-style: italic; }

/*Clearfix*/
.cl:before, .cl:after { content: ""; display: table; }
.cl:after { clear: both; }

//* **** MIXINS **** */
/*@mixin currencyFlag ($fileName) {
  $filepath: "../img/"+$fileName+".jpg";
  background-image:url($filepath);
  width: 20px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}*/

/////////////////
@mixin font-face($style-name, $file, $category:"") {
  $filepath: "fonts/" +  $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}
@mixin two-cols($parent, $child){
  #{$parent}{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    #{$child}{
      padding: 1.5rem 0;
      width: calc(50% - 1.5em);
    }
  }
}
@mixin three-cols($parent, $child){
  #{$parent}{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    #{$child}{
      padding: 1.5rem 0;
      width: calc(33% - 1.5em);
    }
  }
}

@mixin hideAcc {
  position: absolute;
  top: -9999em;
  left: -9999em;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin showAcc {
  position: static;
  clip: auto;
}

@mixin riaButton {
  display: inline-block;
  margin: 0 auto;
  color: white;
  background: $naranja;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid $naranja;
  border-radius: 4px;
  text-transform: uppercase;
  &:hover {
    color: $naranja;
    background: white;
    text-decoration: none;
  }
}
@mixin riaButtonInverted {
  @include riaButton;
  color: $naranja;
  background: white;
  &:hover {
    color: white;
    background: $naranja;
  }
}