//HOME
section.ventajas {
	padding: 30px 130px;
	position: relative;
	width: 100%;
	@media (max-width: $md) {
		padding: 30px 70px;
	}
	@media (max-width: $sm) {
		padding: 30px 40px;
	}
	@media (max-width: $xs) {
		padding: 30px 30px;
	}
	.img_cont {
		@media (max-width: $xs) {
			width: 100%;
			float: none;
			display: none;
			&.active {
				display: block;
			}
		}
		img {
			width: 100%;
			max-width: 100px;
			height: auto;
			margin: 0 auto;
			display: block;
		}
		p {
			font-family: "OpenSans";
			font-weight: 700;
			color: $naranja;
			font-size: 16px;
			text-align: center;
			padding: 0 10px;
			margin-top: 8px;
		}
	}
	a, a:hover, a:visited, a:focus {
		text-decoration: none;
		color: $naranja;
	}
	a:hover {
		opacity: 0.5;
	}
	.glyphicon {
		position: absolute;
		color: $naranja;
		font-size: 38px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;
		@media (max-width: $xs) {
			transform: translateY(0%);
		}
		&.glyphicon-chevron-left {
			left: 40px;
			@media (max-width: $sm) {
				left: 10px;
			}
			@media (max-width: $xs) {
				left: 5px;
			}
		}
		&.glyphicon-chevron-right {
			right: 40px;
			@media (max-width: $sm) {
				right: 10px;
			}
			@media (max-width: $xs) {
				right: 5px;
			}
		}
	}
}
//ATENCIÓN AL CLIENTE
#atencionCliente section.ventajas, #servicioEmpresas section.ventajas {
	background-color: $naranja;

	h2 {
		font-family: "Cocon";
		font-weight: 700;
		color: white;
		font-size: 26px;
		text-align: center;
		margin: 25px 0px 15px 0px;
	}
	.glyphicon {
		position: absolute;
		color: white;
	}
	.img_cont p {
		color: white;
	}
}