//- partials/footer.jade
footer.footer
  .skyline
    img(src="img/imgFooter.png" alt="Skyline")
  .wrapper
    .container-fluid
      .row
        .col-xs-3.col
          ul
            li
              a(href="#") Cambio de divisas
            li
              a(href="#") Oficinas de cambio
            li
              a(href="atencionCliente.html") Atención al cliente
            li
              a(href="servicioEmpresas.html") Servicio a empresas
        .col-xs-3.col
          ul
            li
              a(href="servicios.html") Servicios
            li
              a(href="#") Sobre Ria
            li
              a(href="#") Términos y condiciones
        .col-xs-3.col
          ul
            li
              p Contacto
            li
              a(href="mailto:#") email@riacurency.es
            li
              a(href="tel:#") Tel: 91 761 37 62
        .col-sm-3.col
          img(src="img/logo.png" alt="logo Ria")

  .decoration © 2017 Ria