//- partials/head.jade
meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(name="viewport" content="initial-scale=1.0, width=device-width")

link(rel="shortcut icon" href="favicon.ico" type="image/icon")
link(rel="icon" href="favicon.ico" type="image/x-icon")

link(type="text/css" href="css/styles.css" rel="stylesheet")

<!-JS- jQuery -->
script(src="js/jquery-3.2.1.min.js")

<!-JS y CSS- jQuery UI-->
script(src="js/jquery-ui.js")
link(rel="stylesheet" href="css/jquery-ui.css")

<!-JS- Bootstrap -->
<!-- Latest compiled and minified JavaScript -->
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
script(src="js/bootstrap-select.min.js")

<!-JS- FontAwesome -->
script(src="js/fontawesome.js")

<!-JS- Common -->
script(src="js/common.js")

<!-CSS- Bootstrap -->
<!-- Latest compiled and minified CSS -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

<!-CSS- Bootstrap -->
link(rel="stylesheet" href="css/bootstrap-select.min.css")

<!-CSS- Bootstrap -->
<!-- Optional theme -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
