//- partials/header.jade
header.header
  .wrapper
    div.img_container
      a(href="index.html")
        img(src="img/logo.png" alt="logo Ria")

    span.hamburguesa
      .glyphicon.glyphicon-menu-hamburger

    .lang_select
      form
        fieldset
          .block_input.country
            label(for="pais") País de cambio
            select#pais.selectpicker(data-width="100%")
              option(data-icon="spain") Spain
              option(data-icon="francia") France
              option(data-icon="italia") Italy
              option(data-icon="gbp") United Kingdom
              option(data-icon="usd") United States
              option(data-icon="brl") Brasil
          .block_input.lang
            label(for="idioma") Idioma
            select#idioma.selectpicker(data-width="100%")
              option English
              option Spanish
              option French
              option Italian
    nav
      ul.menu.MenuClose
        li
          a.active(href="#") CAMBIO DE DIVISAS
        li
          a(href="oficinas.html") OFICINAS DE CAMBIO
        li
          a(href="atencionCliente.html") ATENCIÓN AL CLIENTE
        li
          a(href="servicios.html") SERVICIOS
        li
          a(href="#") SOBRE RIA
