section.reservaSteps.container-fluid
  h2 Reserva tu moneda en tres sencillos pasos
  .row
    .col-xs-4.img_cont
      img(src="img/1.png")
      p Selecciona la moneda
    .col-xs-4.img_cont
      img(src="img/2.png")
      p Indica cuándo y dónde cambiar
    .col-xs-4.img_cont
      img(src="img/3.png")
      p Confirma la reserva