section.reservaDivisa(style='background-image: url("img/madrid.jpg");')
  .gradient
  .middle_cont
    form.reserva(action="ciudades.html")
      fieldset
        h1 Cambio de divisa online
        .container-fluid
          .row
            .col-xs-7.col-sm-7
              .block_input
                span.title ¿Qué moneda tienes?
                select.selectpicker.show-tick(data-width="100%")
                  option(data-icon="eur") EUR - Euro
                  option(data-icon="usd") USD - Dólar USA
                  option(data-icon="gbp") GBP - Libra Esterlina
                  option(data-icon="brl") BRL - Real Brasileño
            .col-xs-5.col-sm-5
              .block_input.cantidad
                span.title.center Cantidad
                input(type="number" required)
          .row
            .col-xs-7.col-sm-7
              .block_input
                span.title ¿Qué moneda quieres?
                select.selectpicker.show-tick(data-width="100%")
                  option(data-icon="eur") EUR - Euro
                  option(data-icon="usd") USD - Dólar USA
                  option(data-icon="gbp") GBP - Libra esterlina
                  option(data-icon="brl") BRL - Real Brasileño
            .col-xs-5.col-sm-5
              .block_input.cantidad
                span.title.center Cantidad
                input(type="number" required)
        .rateData.container-fluid
          .row
            .col-xs-6.left
              p 1 EUR = 1.0823 USD
              p 1 USD = 0.873 EUR
            .col-xs-6.right
              p Comisión
                span.bold  0€
              p.correctCode Recibes
                span.bold  569.00$
              p Pagas
                span.bold  499.73€

        .submitButtons
          input.send(type="submit" value="RESERVAR DIVISAS")
          a.promoLink(href="#") ¿Tienes un código promocional?
          .promoOptions
            input.promoCode(type="text" value="YGBWDST3XKY5WD")
            input.sendPromo(type="button" value="Aplicar")
            p.error El código introducido no es válido
            p.correct Has ahorrado 100 euros.

    .contact.container-fluid
      .row
        .col-sm-4.office.elem
          a(href="oficinas.html") Oficinas de cambio
            img(src="img/icono-ubicaciones.png")
        .col-sm-4.col-sm-6.email.elem
          a(href="#") info@currencyexchange.es
            img(src="img/icono-mail.png")
        .col-sm-4.col-sm-6.phone.elem
          a(href="#") 91 761 37 62
            img(src="img/icono-phone.png")

