section.ventajas.container-fluid
  h2 Nuestras ventajas
  a(href="#").glyphicon.glyphicon-chevron-left
  a(href="#").glyphicon.glyphicon-chevron-right

  .row
    .col-xs-4.img_cont
      img(src="img/casa.png")
      p Recibe tu moneda extranjera donde quieras

    .col-xs-4.img_cont.active
      img(src="img/reloj.png")
      p Amplios horarios de apertura

    .col-xs-4.img_cont
      img(src="img/tabla-rates.png")
      p Los mejores tipos de cambio
