//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade


    main.bodyContent#error404
      section.errorDisplay
        h1 404
          i.fa.fa-file(aria-hidden="true")
        p Lo sentimos, pero la página que estabas buscando no existe.

        ul
          li
            a(href="#") Cambiar divisas
          li
            a(href="#") Encontrar una oficina de cambio
          li
            a(href="#") Contactar con nosotros
          li
            a(href="#") Conocer nuestros servicios

      section.info.block
        .telf
          h2 Atención al cliente
          a(href="#") 917 613 762
            span.glyphicon.glyphicon-earphone
          .open_hours
            p De lunes a viernes, de 9 a 22h.
            p Fines de semana y festivos, de 10 a 22 h.

    include partials/footer.jade
