//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body#atencionCliente
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent

      h1 Atención al cliente

      section.info.block
        .container-fluid
          .row
            .col-md-6
              .telf
                a(href="#") 917 613 762
                  span.glyphicon.glyphicon-earphone
                .open_hours
                  p De lunes a viernes, de 9 a 22h.
                  p Fines de semana y festivos, de 10 a 22 h.
            .col-md-6
              .email
                p ¿Tienes una empresa?
                a(href="servicioEmpresas.html") Contacta con nosotros

      section.infoForm.block
        .title
          h2 Formulario de contacto
            span.glyphicon.glyphicon-envelope
        form(action="confirmacion.html")
          fieldset
            .container-fluid
              .row.inputs
                .col-md-6.col
                  label(for="name") Nombre
                  input#name.selectEffect(type="text")
                .col-md-6.col
                  label(for="name2") Primer apellido
                  input#name2.selectEffect(type="text")
              .row.inputs
                .col-md-6.col
                  label(for="email") Correo electrónico
                  input#email.selectEffect(type="text")
                .col-md-6.col
                  label.selected Motivo de la consulta
                  select#motivo.selectEffect(type="text" placeholder="Motivo de la consulta")
                    option Selecciona una opción
                    option Cambio en oficina física
                    option Pedido o reserva online
                    option Solicitud de información
                    option Propuesta de negocio
                    option Queja o reclamación
                    option Felicitación
                    option Otros
              .row.inputs
                .col-md-12.col
                  label(for="mensaje") Mensaje
                  textarea#mensaje.selectEffect(rows="5" maxlength=999)

              .row.checkers
                .col-lg-12.col
                  input#CheckPolicy(type="checkbox" name="CheckPolicy" value="")
                  label(for="CheckPolicy") Acepto la&nbsp;
                    a(href="#") política de privacidad
              .row.checkers
                .col-lg-12.col
                  input#CheckTerms(type="checkbox" name="CheckTerms" value="")
                  label(for="CheckTerms") Acepto los&nbsp;
                    a(href="#") términos y condiciones

              .row.submit
                .col-lg-12.col
                  input(type="submit" value="Enviar")

    section.ventajas.container-fluid
      h2 Conoce nuestras ventajas
      a(href="#").glyphicon.glyphicon-chevron-left
      a(href="#").glyphicon.glyphicon-chevron-right

      .row
        .col-xs-4.img_cont
          img(src="img/casa_white.png")
          p Recibe tu moneda extranjera donde quieras

        .col-xs-4.img_cont.active
          img(src="img/reloj_white.png")
          p Amplios horarios de apertura

        .col-xs-4.img_cont
          img(src="img/tabla-rates_white.png")
          p Los mejores tipos de cambio



    include partials/footer.jade