//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent.ciudades
      .previousPage
        a.cont(href="index.html")
          img(src="img/btn_atras.png")
        h2 Selecciona la ciudad donde quieres cambiar tu divisa

      h3 Ciudades en las que estamos

      .citySelector.container-fluid
        .row
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/barcelona.jpg');")
                p BARCELONA
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/madrid.jpg');")
                p MADRID
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/mallorca.jpg');")
               p PALMA DE MALLORCA
          .col-sm-6.col
            a(href="oficinas.html")
              .city(href="index.html" style="background-image: url('img/valencia.jpg');")
               p VALENCIA

    include partials/footer.jade
