//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade

    .background_cont.confirmacion
      .h1_cont
        h1 ¡Gracias por confiar en Ria!
      .background(style="background-image: url(img/django.jpg); ")


    main.bodyContent#confirmacion

      h2 Tu reserva se ha realizado correctamente.

      ul
        li
          p En breve recibirás un email con los detalles de la reserva.
        li
          p Por favor, asegúrate de traer un documento de identificación cuando vayas a recoger la divisa.

      .container-fluid.datos
        .row
          .col-xs-6.col.enum
            p Identificador:
          .col-xs-6.col.result
            p 123dasdasd
        .row
          .col-xs-6.col.enum
            p Cantidad a cambiar:
          .col-xs-6.col.result
            p 499,73 €
        .row
          .col-xs-6.col.enum
            p Cantidad a recibir:
          .col-xs-6.col.result
            p 569,00 $
        .row
          .col-xs-6.col.enum
            p Oficina de cambio:
          .col-xs-6.col.result
            p Puerta del sol, 28020 - Madrid
        .row
          .col-xs-6.col.enum
            p Teléfono oficina:
          .col-xs-6.col.result
            p 91 123 45 67
        .row
          .col-xs-6.col.enum
            p Fecha de recogida:
          .col-xs-6.col.result
            p 22/10/2017

        .row.botones
          .col-xs-6.cont.btn_secondary
            a(href="#") Guardar PDF
              img(src="img/pdf_btn.png")
          .col-xs-6.cont.btn_primary
            a(href="index.html") Volver al inicio

    include partials/footer.jade


