//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent#contactoReserva
      .previousPage
        a.cont(href="oficinas.html")
          img(src="img/btn_atras.png")
        h2 Datos de contacto

      h3 Por favor, necesitamos tus datos de contacto para poder realizar la reserva

      .container-fluid
        .row
          .col-md-6.tradeInfo_block(style="background-image: url('img/billets.jpg');")
            .background_cont
              .background
                .fila
                  .col.enum Cantidad a cambiar:
                  .col.result 499,73€
                .fila
                  .col.enum Cantidad a recibir:
                  .col.result 569,00$
                .fila
                  .col.enum Tasa de cambio:
                  .col.result 1.1976
                .fila.last
                  .col.enum Oficina de cambio:
                  .col.result Puerta del sol, nº2. 28080

          .col-md-6.infoForm_block
            form(action="confirmacion.html")
              fieldset
                .container-fluid
                  .row.inputs
                    .col-lg-6.col
                      label(for="name") Nombre
                      input#name.selectEffect(type="text")
                    .col-lg-6.col
                      label(for="name2") Primer apellido
                      input#name2.selectEffect(type="text")
                  .row.inputs
                    .col-lg-6.col
                      label(for="email") Email
                      input#email.selectEffect(type="text")
                    .col-lg-6.col
                      label(for="telefono") Teléfono
                      input#telefono.selectEffect(type="text")
                  .row.inputs
                    .col-lg-6.col
                      label(for="fechaDatepicker") Fecha de recogida
                      input#fechaDatepicker.selectEffect(type="text" onchange="changeCalendar()")
                    .col-lg-6.col
                      label.refNumber(for="ref") Nº de referencia
                        .extension (agentes y tour operadores)
                      input#ref.selectEffect(type="text")

                  .row.checkers
                    .col-lg-12.col
                      input#CheckPolicy(type="checkbox" name="CheckPolicy" value="")
                      label(for="CheckPolicy") Acepto la&nbsp;
                        a(href="#") política de privacidad
                  .row.checkers
                    .col-lg-12.col
                      input#CheckTerms(type="checkbox" name="CheckTerms" value="")
                      label(for="CheckTerms") Acepto los&nbsp;
                        a(href="#") términos y condiciones

                  .row.submit
                    .col-lg-12.col
                      input(type="submit" value="Confirmar reserva")

    include partials/footer.jade