//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade

    main.bodyContent
      include partials/reservaDivisa
      include partials/reservaSteps
      include partials/faqs
      include partials/ventajas

    include partials/footer.jade
