//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade

    main.bodyContent.oficinas
      .previousPage
        a.cont(href="ciudades.html")
          img(src="img/btn_atras.png")
        h2 Selecciona la oficina donde quieres cambiar tu divisa

      form.adressSearcher
        fieldset
          a.find
            span.glyphicon.glyphicon-search
          input(type="text" value="Madrid, España")

      .container-fluid.mapZone
        .row
          .col-sm-6
            .mapa
              img(src="img/mapa.jpg" alt="Google maps")
          .col-sm-6
            .locations
              ul.filterList
                li
                  a Show All
                li
                  a.active SendLocation
                li
                  a PayoutLocation
                li
                  a CollectLocation
              .cardList
                .alert.alert-warning.noresults No locations found
                .vcardLocation
                  label
                    span 1
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        |Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 2
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 3
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 4
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 5
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 6
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters


                .vcardLocation
                  label
                    span 7
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters

                .vcardLocation
                  label
                    span 8
                  .adress
                    p.name DIA Madrid 26
                    p.street Castillo del Madrigal de las Altas Torres, 9 , Madrid ES
                  .services
                    ul
                      li
                        i.fa.fa-send
                        | Send Location
                      li
                        i.fa.fa-money
                        | Payout Location
                      li
                        i.fa.fa-ticket
                        | Collect Location
                  .distance
                    a(target="_blank" href="http://maps.google.es/?q=40.416775%20-3.70379") See in google maps
                    p Distance 24 meters



        .row
          .col-sm-12
            .acceptOffice
              a(href="contactoReserva.html") RESERVAR DIVISA

    include partials/footer.jade
