//- index.jade
doctype html
html(lang="en")
  head
    title Ria Currency Exchange
    include partials/head.jade

  body
    include partials/header.jade
    include partials/subHeader.jade


    main.bodyContent#servicios

      h1 Nuestros servicios

      section.orangeBox
        h3 Somos Ria
        p La tercera compañía de transferencias de dinero más grande del mundo y parte de una industría que mueve más de 600 mil millones de dólares anuales.
        p en este momento, el área de compra y venta de billetes extranjeros de la compañía da servicio tanto en tiendas propias, como a través de la web a más de 1.000.000 de clientes anualmente.
        p Damos este servicio en más de 70 puntos de venta a disposición de nuestros clientes y en las ubicaciones más céntricas de las principales ciudades europeas.

      section.carrouselServicios.container-fluid
        a(href="#").glyphicon.glyphicon-chevron-left
        a(href="#").glyphicon.glyphicon-chevron-right
        .row
          .serviceBlock.col-md-4
            img(src="img/1.png")
            p.name Cambio de moneda extranjera
            p.desc Ria ofrece más de 60 diferentes tipos de monedas, principalmente: dólares, libras, yenes, francos, dírhams, pesos, coronas, entre otros. Nuestro servicio de reservas de divisa on-line, le facilita el acceso a estas monedas pudiendo retirarlas en cualquiera de nuestras tiendas autorizadas o para su mayor comodidad las puede recibir en su domicilio, centro de trabajo o dónde nos lo indique.
          .serviceBlock.col-md-4
            img(src="img/2.png")
            p.name Envío de dinero
            p.desc Con más de 25 años de experiencia en el sector de los envíos de dinero, Ria es una empresa líder en el sector de las transferencias internacionales. Con una red de más de 316.000 puntos a nivel mundial, llegamos a casi todos los destinos que nuestros clientes necesitan, haciendo llegar su dinero de la forma más rápida, segura y económica.
          .serviceBlock.col-md-4
            img(src="img/3.png")
            p.name Canjeo de travel checks
            p.desc Puede canjear sus cheques viajeros de American Express en cualquiera de nuestras tiendas Ria y recibir sus euros, dólares o libras con total comodidad y confianza en España.

    include partials/footer.jade
